name: helloworld
on:
  push:
    branches: [main]

jobs:
  docker-job:
    runs-on:
      - docker
      - self-hosted
    steps:
      - name: Checkout main
        uses: actions/checkout@v3
      - name: Build and Push Docker Image
        run: |
          docker build . -f Dockerfile -t billybackmanh/helloworld:latest \
            --build-arg ARTIFACTORY_USERNAME=${{ secrets}}
          docker push billybackmanh/helloworld:latest